html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  min-width: 1440px;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

header {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  padding: 20px;
  background-color: #0c0c0e;
  min-height: 90px;
  /* width: 100%; */
  color: #ffffff;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  font-family: Forum;
  color: #0c0c0e;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

footer {
  min-height: 250px;
  padding: 20px;
  color: #ffffff;
  background-color: #0c0c0e;
}

header h3 {
  font-weight: 100;
  background-color: #0c0c0e;
}

.hidden {
  opacity: 0;
}

nav ul > li {
  display: inline-block;
  align-items: baseline;
  list-style-type: none;
  flex-direction: row;
  margin-right: 30px;
  align-self: center;
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  width: 100%;
  min-height: 700px;
  background-image: url("../images/Welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  margin: 0;
}

.hero h1 {
  font-family: "Forum";
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
}

.hero-welcome {
  width: 600px;
  height: 220px;
  background-color: #0c0c0e;
  justify-content: center;
  margin-left: 40px;
  text-align: center;
}

.line-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

section {
  margin: 0;
}

.gallery-about {
  display: flex;
  justify-content: center;
}

.gallery-about img {
  margin-right: 25px;
}

.line-description .separator {
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin-top: -10px;
}

.item {
  width: 68px;
  height: 16px;
  color: #0c0c0e;
  font-size: 30px;
  cursor: pointer;
}

.active {
  color: #bb945f;
}

.seasons {
  display: inline-flex;
  list-style-type: none;
  justify-content: flex-start;
  margin-left: 37px;
}

.seasons li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-right: 90px;
  cursor: pointer;
}

.seasons input[type="radio" i] {
  margin-right: 15px;
  cursor: pointer;
}

.seasons input[type="radio"]:checked + span {
  font-weight: bold;
}

.favorites-books-block {
  display: flex;
  justify-content: space-between;
  width: 86%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.book-block {
  min-width: 550px;
  min-height: 550px;
  max-width: 550px;
  max-height: 550px;
  position: relative;
  border: 1px solid #000;
  margin-bottom: 40px;
  padding-left: 20px;
}

.book-description {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  max-width: 355px;
  min-width: 355px;
}

.book-photo {
  display: block;
  position: absolute;
  bottom: -1px;
  right: -39px;
}

.menu-block {
  display: flex;
  justify-content: space-between;
}

.desserts-block h2,
.drinks-block h2 {
  color: #bb945f;
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.menu-item > .separator {
  width: 100px;
  height: 1px;
  background: #bb945f;
}

.coffe-shop p {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.menu {
  list-style-type: none;
  padding-inline-start: 0;
}

.menu-item {
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .separator {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 46px 0 46px;
}

.footer-social-nav li {
  margin-right: 15px;
  cursor: pointer;
}

.footer-social-nav {
  margin-right: 15px;
  padding-inline-start: 0;
}

.adress {
  display: flex;
  justify-content: space-between;
}

.href-line {
  display: flex;
  justify-content: space-between;
}

.footer-social-nav {
  display: flex;
  list-style-type: none;
}
