.main-block {

    align-content: center;
    max-width: 500px;

}
.logo_img {
    padding: 10px 10px;
}
.main {
    
    
    border: solid  2px #808080;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    
    width: 5em;
    

}
.name-cols{
    padding-top: 20px;
    text-decoration: underline;
    font-weight: bold;
   
    
}
.main-block {
    align-content:center;
   
}