

.main-block {    
    
    border: solid  2px gray;
    padding: 20px;
    border-radius: 50px 20px;
    font-family: sans-serif, Courier, monospace;
    font-size: 12px;  
    max-width: 750px; 
    box-shadow: 0 0 7px #666; /* Параметры тени */
    margin: auto;
    background-color: rgba(500, 200, 100, 1);

}
.name-cols{
    vertical-align: top;   
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    
}
.src-round {
    width: 105px;
    border-radius: 100px; /* Радиус скругления */    
    box-shadow: 0 0 7px #666; /* Параметры тени */
    padding: 10px 10px;
    align-self: flex-start;
    
   }
   .p-content{
    width: inherit;   
    text-align: justify ; 
    line-height: 1.5;
   }

 .td-content {
    text-align: justify ;
 }
 .info-contact {
     width: 60%;
     align-content: left;
     
 }
 .contact-content{
    padding: 10px;
    align-content: right;
    display: inline-flex;
    justify-content: space-between;
    width: 540px;
    ;
 }
 a {
    text-decoration: none;
 }